*.ipynb
*.json
*.ipynb
*.xlsx
API_key.json    
holiday_api.json
nohup.out
MainCuration/
PresentCuration/
RefundCalculator/
archive/
img/
m1_ngrok/
static/
flask-container/
.ipynb_checkpoints/
.DS_Store/
__pycache__/