*.ipynb
*.json
*.ipynb
*.xlsx
API_key.json    
holiday_api.json
nohup.out
delivery_date.py
main_curation.py
main_function.py
main_response.py
present_curation.py
present_function.py
present_response.py
refund_calculator.py
refund_function.py
refund_response.py
MainCuration/
PresentCuration/
RefundCalculator/
img/
m1_ngrok/
static/
flask-container/
.ipynb_checkpoints/
.DS_Store/
__pycache__/